$icons: (
  affirm: '\f09d',
  angle-left: '\f104',
  angle-right: '\f105',
  arrow-left: '\f060',
  bars: '\f0c9',
  caret-down: '\f0d7',
  caret-left: '\f0d9',
  caret-right: '\f0da',
  caret-up: '\f0d8',
  cart: "\f07a",
  check: '\f00c',
  chevron-right: '\f054',
  close: '\f00d',
  credit-card: '\f09d',
  home: '\f015',
  info: '\f05a',
  menu: '\f0c9',
  paypal: "\f1f4",
  search: "\f002",
  slider: "\f1de",
  star-empty: "\f006",
  star: "\f005",
  tag: "\f02b",
  times: "\f00d",
  user: "\f007"
);
