$sizing: (
  border-radius: .25rem,
  border: .25rem,
  footer-height: 146px,
  module-padding-desktop: 2rem,
  module-padding-mobile: 1rem,
  nav-height: 50px,
  nav-mobile-menu-height: 40px,
  nav-search-results: 150px,
  cart-width: 35rem,
  mobile-nav-width: 35rem
);
