@mixin animate($animation: null, $duration: $transition-time, $fill-mode: both) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: $fill-mode;
  animation-fill-mode: $fill-mode;
  -webkit-animation-name: $animation;
  animation-name: $animation;
}

@mixin animate-skeleton($duration: 1s) {
  background: linear-gradient(214deg, #{map-get($colors, white)}, #{map-get($colors, secondary-color)});
  background-size: 400% 400%;
  -webkit-animation: Skeleton $duration ease infinite;
  -moz-animation: Skeleton $duration ease infinite;
  animation: Skeleton $duration ease infinite;
  @-webkit-keyframes Skeleton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes Skeleton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}
