@mixin border-radius(
                      $radius: #{map-get($sizing, border-radius))},
                      $top: false,
                      $bottom: false,
                      $right: false,
                      $left: false,
                      $top-left: false,
                      $top-right: false,
                      $bottom-left: false,
                      $bottom-right: false,
                      $overflow: false
                    )
{
  @if $top == true {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  @if $bottom == true {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  @if $left == true {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  @if $right == true {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  @if $top-left == true {
    border-top-left-radius: $radius;
  }
  @if $top-right == true {
    border-top-right-radius: $radius;
  }
  @if $bottom-left == true {
    border-bottom-left-radius: $radius;
  }
  @if $bottom-right == true {
    border-bottom-right-radius: $radius;
  }
  @if $overflow == true {
    overflow: hidden;
  }
  @if 
    $top == false and 
    $bottom == false and 
    $left == false and 
    $right == false and 
    $top-left == false and
    $top-right == false and
    $bottom-left == false and
    $bottom-right == false {
    border-radius: $radius;
  }
}
