@mixin border(
                $size: #{map-get($sizing, border))},
                $color: #{map-get($colors, secondary-color)},
                $top: false,
                $bottom: false,
                $right: false,
                $left: false,
                $whole: false,
                $reset: false
              )
{
  @if $top == true {
    border-top: $size solid $color;
  }
  @if $bottom == true {
    border-bottom: $size solid $color;
  }
  @if $left == true {
    border-left: $size solid $color;
  }
  @if $right == true {
    border-right: $size solid $color;
  }
  @if $whole == true {
    border: $size solid $color;
  }
  @if $reset == true {
    border: none;
  }
}
