@mixin box-shadow($color: #{map-get($colors, secondary-color)}, $top: null, $bottom: null, $left: null, $right: null, $reset: null) {
  @if ($top == true) {
    box-shadow: 0 -.5rem .5rem -.5rem $color;
  }
  @if ($bottom == true) {
    box-shadow: 0 .5rem .5rem -.5rem $color;
  }
  @if ($left == true) {
    box-shadow: -.5rem 0 .5rem -.5rem $color;
  }
  @if ($right == true) {
    box-shadow: .5rem 0 .5rem -.5rem $color;
  }
  @if ($top != true and $bottom != true and $left != true and $right != true) {
    box-shadow: 0 .5rem .5rem -.5rem $color;
  }
  @if ($reset == true) {
    box-shadow: none;
  }
}
