$spacing-sizes: (
  quarter: 0.25rem,
  half: 0.5rem,
  0: 0rem,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem,
) !default;

$spacing-important: false !default;

@mixin m($size : 1) {
  margin: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin mlr($size : 1) {
  margin-left: #{$size} #{if($spacing-important, '!important', '')};
  margin-right: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin mtb($size : 1) {
  margin-top: #{$size} #{if($spacing-important, '!important', '')};
  margin-bottom: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin ml($size : 1) {
  margin-left: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin mt($size : 1) {
  margin-top: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin mr($size : 1) {
  margin-right: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin mb($size : 1) {
  margin-bottom: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin p($size : 1) {
  padding: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin plr($size : 1) {
  padding-left: #{$size} #{if($spacing-important, '!important', '')};
  padding-right: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin ptb($size : 1) {
  padding-top: #{$size} #{if($spacing-important, '!important', '')};
  padding-bottom: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin pl($size : 1) {
  padding-left: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin pt($size : 1) {
  padding-top: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin pr($size : 1) {
  padding-right: #{$size} #{if($spacing-important, '!important', '')};
}

@mixin pb($size : 1) {
  padding-bottom: #{$size} #{if($spacing-important, '!important', '')};
}
