@mixin loader() {
  position: fixed;
  top: map-get($sizing, nav-height);
  top: 0;
  left: 0;
  height: .1rem;
  background-color: map-get($colors, cta-color);
  z-index: 10;
  @include loader-active()
  &__inactive {
    @include loader-inactive();
  }
}

@mixin loader-active() {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  @-webkit-keyframes loaderActive {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

  @keyframes loaderActive {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  -webkit-animation-name: loaderActive;
  animation-name: loaderActive;
}

@mixin loader-inactive() {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  @-webkit-keyframes loaderInactive {
    0% {
      width: 65%;
      opacity: 1;
      box-shadow: 0 0 0 rgba(map-get($colors, cta-color), 1.0);
    }
    60% {
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 0;
      box-shadow: 0 0 1.5rem rgba(map-get($colors, cta-color), 0);
    }
  }

  @keyframes loaderInactive {
    0% {
      width: 65%;
      opacity: 1;
      box-shadow: 0 0 0 rgba(map-get($colors, cta-color), 1.0);
    }
    60% {
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 0;
      box-shadow: 0 0 1.5rem rgba(map-get($colors, cta-color), 0);
    }
  }
  -webkit-animation-name: loaderInactive;
  animation-name: loaderInactive;
}

