@mixin select(
$large: false,
$color: map-get($colors, cta-color),
$background-color: map-get($colors, white),
$width: 100%
) {
  -webkit-appearance: none;
  background: transparent;
  border: .1rem solid $color;
  cursor: pointer;
  font-family: $base-font-family;
  font-size: 1rem;
  line-height: 1;
  height: auto;
  outline: none;
  transition: background-color $transition-time;
  width: $width;
  color: $color;
  background-color: $background-color;
  padding: 0.5rem;
  @include transition();
  @if ($large == true) {
    padding: 1rem .5rem;
    font-size: 125%;
  } @else {
    padding: .5rem;
  }
}
